# Data Cleaning

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder

In [25]:
# Loading the dataset
path = '/home/xryrapier/code/xryrpapier/eficient_frontier/raw_data/SCFP2019.csv' 
data = pd.read_csv(path)
# Selecting some columns of interest
selected_features = ['YY1',
                     'HHSEX',
                     'AGE', 
                     'AGECL',
                     'EDCL',
                     'MARRIED',
                     'KIDS',
                     'FAMSTRUCT',
                     'OCCAT1',
                     'INCOME',
                     'WSAVED',
                     'YESFINRISK',
                     'NETWORTH',
                     'LIQ',
                     'CDS',
                     'SAVBND',
                     'CASHLI',
                     'NMMF',
                     'STOCKS',
                     'BOND']

# Overwriting the "data" variable to keep only the columns of interest
# Notice the .copy() to copy the values 
data = data[selected_features].copy()

data.head()

,YY1,HHSEX,AGE,AGECL,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,NMMF,STOCKS,BOND
0,1,2,75,6,4,2,0,3,1,67195.781504,2,0,2153600.0,6000,25000,0,44000,0,0,401000
1,1,2,75,6,4,2,0,3,1,57014.602488,2,0,2116200.0,6000,29000,0,44000,0,0,369000
2,1,2,75,6,4,2,0,3,1,51924.012980,2,0,2145000.0,6000,29000,0,44000,0,0,399000
3,1,2,75,6,4,2,0,3,1,41742.833964,2,0,2552500.0,6000,28000,0,44000,0,0,800000
4,1,2,75,6,4,2,0,3,1,50905.895078,2,0,2176200.0,6000,27000,0,44000,0,0,419000

## (1) Duplicates

‚ÑπÔ∏è ***Duplicates in datasets cause data leakage.*** 

üëâ It is important to locate and remove duplicates.

‚ùì How many duplicated rows are there in the dataset ‚ùì

<i>Save your answer under variable name `duplicate_count`.</i>

In [26]:
duplicate_count = data.duplicated().sum()
duplicate_count

5014

In [27]:
len(data)

28885

‚ùì Remove the duplicates from the dataset. Overwite the dataframe `data`‚ùì

In [28]:
data = data.drop_duplicates()
len(data)

23871

## (2) Missing data

‚ùì Print the percentage of missing values for every column of the dataframe. ‚ùì

In [29]:
data.isnull().sum().sort_values(ascending=False)/len(data)

YY1           0.0
HHSEX         0.0
STOCKS        0.0
NMMF          0.0
CASHLI        0.0
SAVBND        0.0
CDS           0.0
LIQ           0.0
NETWORTH      0.0
YESFINRISK    0.0
WSAVED        0.0
INCOME        0.0
OCCAT1        0.0
FAMSTRUCT     0.0
KIDS          0.0
MARRIED       0.0
EDCL          0.0
AGECL         0.0
AGE           0.0
BOND          0.0
dtype: float64

In [30]:
data.dtypes

YY1             int64
HHSEX           int64
AGE             int64
AGECL           int64
EDCL            int64
MARRIED         int64
KIDS            int64
FAMSTRUCT       int64
OCCAT1          int64
INCOME        float64
WSAVED          int64
YESFINRISK      int64
NETWORTH      float64
LIQ             int64
CDS             int64
SAVBND          int64
CASHLI          int64
NMMF            int64
STOCKS          int64
BOND            int64
dtype: object

## (3) Scaling

In [31]:
data.describe()

,YY1,HHSEX,AGE,AGECL,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,NMMF,STOCKS,BOND
count,23871.000000,23871.000000,23871.000000,23871.000000,23871.000000,23871.000000,23871.000000,23871.000000,23871.000000,2.387100e+04,23871.000000,23871.000000,2.387100e+04,2.387100e+04,2.387100e+04,2.387100e+04,2.387100e+04,2.387100e+04,2.387100e+04,2.387100e+04
mean,2904.296217,1.209417,53.918395,3.454443,3.096267,1.346362,0.760588,3.709438,1.802271,1.132384e+06,2.542751,0.050731,1.582332e+07,4.120552e+05,6.306713e+04,1.871612e+03,9.976142e+04,2.201713e+06,1.382903e+06,1.978937e+05
std,1677.117959,0.406901,16.056962,1.534278,0.996491,0.475820,1.130429,1.286563,0.912298,1.119738e+07,0.689867,0.219452,8.592952e+07,3.381051e+06,8.502889e+05,3.835054e+04,1.113143e+06,2.605856e+07,1.107530e+07,2.662337e+06
min,1.000000,1.000000,18.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000e+00,1.000000,0.000000,-9.555000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1453.000000,1.000000,41.000000,2.000000,2.000000,1.000000,0.000000,3.000000,1.000000,3.970660e+04,2.000000,0.000000,3.620000e+04,1.900000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2908.000000,1.000000,55.000000,4.000000,3.000000,1.000000,0.000000,4.000000,1.000000,8.654002e+04,3.000000,0.000000,2.812000e+05,1.150000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4349.000000,1.000000,66.000000,5.000000,4.000000,2.000000,1.000000,5.000000,3.000000,2.239859e+05,3.000000,0.000000,2.051600e+06,7.544500e+04,0.000000e+00,0.000000e+00,3.000000e+01,0.000000e+00,8.000000e+01,0.000000e+00
max,5813.000000,2.000000,95.000000,6.000000,4.000000,2.000000,7.000000,5.000000,4.000000,7.035907e+08,3.000000,1.000000,1.967199e+09,1.235544e+08,4.941000e+07,2.200000e+06,5.624000e+07,1.285000e+09,3.500000e+08,1.141600e+08

In [32]:
st_scaler = StandardScaler()
data['AGE'] = st_scaler.fit_transform(data[['AGE']])

data

,YY1,HHSEX,AGE,AGECL,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,NMMF,STOCKS,BOND
0,1,2,1.312954,6,4,2,0,3,1,67195.781504,2,0,2153600.0,6000,25000,0,44000,0,0,401000
1,1,2,1.312954,6,4,2,0,3,1,57014.602488,2,0,2116200.0,6000,29000,0,44000,0,0,369000
2,1,2,1.312954,6,4,2,0,3,1,51924.012980,2,0,2145000.0,6000,29000,0,44000,0,0,399000
3,1,2,1.312954,6,4,2,0,3,1,41742.833964,2,0,2552500.0,6000,28000,0,44000,0,0,800000
4,1,2,1.312954,6,4,2,0,3,1,50905.895078,2,0,2176200.0,6000,27000,0,44000,0,0,419000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,1,-0.181756,3,1,1,0,5,2,411319.632230,3,0,7635200.0,2159000,0,0,0,0,0,0
28881,5813,1,-0.181756,3,1,1,0,5,2,410301.514330,3,0,7728800.0,2171000,0,0,0,0,0,0
28882,5813,1,-0.181756,3,1,1,0,5,2,379757.977290,3,0,7485800.0,2163000,0,0,0,0,0,0
28883,5813,1,-0.181756,3,1,1,0,5,2,430663.872360,3,0,7995500.0,2162000,0,0,0,0,0,0
28884,5813,1,-0.181756,3,1,1,0,5,2,402156.571120,3,0,8234600.0,2150000,0,0,0,0,0,0

In [33]:
rb_scaler = RobustScaler()
data['KIDS'] = rb_scaler.fit_transform(data[['KIDS']]) 
data['INCOME'] = rb_scaler.fit_transform(data[['INCOME']]) 
data['NETWORTH'] = rb_scaler.fit_transform(data[['NETWORTH']]) 

data

,YY1,HHSEX,AGE,AGECL,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,NMMF,STOCKS,BOND
0,1,2,1.312954,6,4,2,0.0,3,1,-0.104972,2,0,0.929046,6000,25000,0,44000,0,0,401000
1,1,2,1.312954,6,4,2,0.0,3,1,-0.160221,2,0,0.910489,6000,29000,0,44000,0,0,369000
2,1,2,1.312954,6,4,2,0.0,3,1,-0.187845,2,0,0.924779,6000,29000,0,44000,0,0,399000
3,1,2,1.312954,6,4,2,0.0,3,1,-0.243094,2,0,1.126972,6000,28000,0,44000,0,0,800000
4,1,2,1.312954,6,4,2,0.0,3,1,-0.193370,2,0,0.940260,6000,27000,0,44000,0,0,419000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,1,-0.181756,3,1,1,0.0,5,2,1.762431,3,0,3.648903,2159000,0,0,0,0,0,0
28881,5813,1,-0.181756,3,1,1,0.0,5,2,1.756906,3,0,3.695346,2171000,0,0,0,0,0,0
28882,5813,1,-0.181756,3,1,1,0.0,5,2,1.591160,3,0,3.574774,2163000,0,0,0,0,0,0
28883,5813,1,-0.181756,3,1,1,0.0,5,2,1.867403,3,0,3.827677,2162000,0,0,0,0,0,0
28884,5813,1,-0.181756,3,1,1,0.0,5,2,1.712707,3,0,3.946313,2150000,0,0,0,0,0,0

## (4) Feature Encoding

In [34]:
#HHSEX
#AGECL
#EDCL
#MARRIED
#FAMSTRUCT
#OCCAT1
#WSAVED
#YESFINRISK

In [35]:
data.YESFINRISK.unique()

array([0, 1])

In [36]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['HHSEX']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['HHSEX']])
data.drop(columns = ["HHSEX"], inplace = True)
data

,YY1,AGE,AGECL,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,...,NETWORTH,LIQ,CDS,SAVBND,CASHLI,NMMF,STOCKS,BOND,HHSEX_1,HHSEX_2
0,1,1.312954,6,4,2,0.0,3,1,-0.104972,2,...,0.929046,6000,25000,0,44000,0,0,401000,0.0,1.0
1,1,1.312954,6,4,2,0.0,3,1,-0.160221,2,...,0.910489,6000,29000,0,44000,0,0,369000,0.0,1.0
2,1,1.312954,6,4,2,0.0,3,1,-0.187845,2,...,0.924779,6000,29000,0,44000,0,0,399000,0.0,1.0
3,1,1.312954,6,4,2,0.0,3,1,-0.243094,2,...,1.126972,6000,28000,0,44000,0,0,800000,0.0,1.0
4,1,1.312954,6,4,2,0.0,3,1,-0.193370,2,...,0.940260,6000,27000,0,44000,0,0,419000,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,3,1,1,0.0,5,2,1.762431,3,...,3.648903,2159000,0,0,0,0,0,0,1.0,0.0
28881,5813,-0.181756,3,1,1,0.0,5,2,1.756906,3,...,3.695346,2171000,0,0,0,0,0,0,1.0,0.0
28882,5813,-0.181756,3,1,1,0.0,5,2,1.591160,3,...,3.574774,2163000,0,0,0,0,0,0,1.0,0.0
28883,5813,-0.181756,3,1,1,0.0,5,2,1.867403,3,...,3.827677,2162000,0,0,0,0,0,0,1.0,0.0
28884,5813,-0.181756,3,1,1,0.0,5,2,1.712707,3,...,3.946313,2150000,0,0,0,0,0,0,1.0,0.0

In [37]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['AGECL']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['AGECL']])
data.drop(columns = ["AGECL"], inplace = True)
data

,YY1,AGE,EDCL,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,...,STOCKS,BOND,HHSEX_1,HHSEX_2,AGECL_1,AGECL_2,AGECL_3,AGECL_4,AGECL_5,AGECL_6
0,1,1.312954,4,2,0.0,3,1,-0.104972,2,0,...,0,401000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1.312954,4,2,0.0,3,1,-0.160221,2,0,...,0,369000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1,1.312954,4,2,0.0,3,1,-0.187845,2,0,...,0,399000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,1.312954,4,2,0.0,3,1,-0.243094,2,0,...,0,800000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,1.312954,4,2,0.0,3,1,-0.193370,2,0,...,0,419000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,1,1,0.0,5,2,1.762431,3,0,...,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28881,5813,-0.181756,1,1,0.0,5,2,1.756906,3,0,...,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28882,5813,-0.181756,1,1,0.0,5,2,1.591160,3,0,...,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28883,5813,-0.181756,1,1,0.0,5,2,1.867403,3,0,...,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28884,5813,-0.181756,1,1,0.0,5,2,1.712707,3,0,...,0,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [38]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['EDCL']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['EDCL']])
data.drop(columns = ["EDCL"], inplace = True)
data

,YY1,AGE,MARRIED,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,...,AGECL_1,AGECL_2,AGECL_3,AGECL_4,AGECL_5,AGECL_6,EDCL_1,EDCL_2,EDCL_3,EDCL_4
0,1,1.312954,2,0.0,3,1,-0.104972,2,0,0.929046,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1,1.312954,2,0.0,3,1,-0.160221,2,0,0.910489,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,1.312954,2,0.0,3,1,-0.187845,2,0,0.924779,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1,1.312954,2,0.0,3,1,-0.243094,2,0,1.126972,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1,1.312954,2,0.0,3,1,-0.193370,2,0,0.940260,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,1,0.0,5,2,1.762431,3,0,3.648903,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28881,5813,-0.181756,1,0.0,5,2,1.756906,3,0,3.695346,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28882,5813,-0.181756,1,0.0,5,2,1.591160,3,0,3.574774,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28883,5813,-0.181756,1,0.0,5,2,1.867403,3,0,3.827677,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28884,5813,-0.181756,1,0.0,5,2,1.712707,3,0,3.946313,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [39]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['MARRIED']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['MARRIED']])
data.drop(columns = ["MARRIED"], inplace = True)
data

,YY1,AGE,KIDS,FAMSTRUCT,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,...,AGECL_3,AGECL_4,AGECL_5,AGECL_6,EDCL_1,EDCL_2,EDCL_3,EDCL_4,MARRIED_1,MARRIED_2
0,1,1.312954,0.0,3,1,-0.104972,2,0,0.929046,6000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,1.312954,0.0,3,1,-0.160221,2,0,0.910489,6000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,1,1.312954,0.0,3,1,-0.187845,2,0,0.924779,6000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,1,1.312954,0.0,3,1,-0.243094,2,0,1.126972,6000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,1,1.312954,0.0,3,1,-0.193370,2,0,0.940260,6000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,0.0,5,2,1.762431,3,0,3.648903,2159000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28881,5813,-0.181756,0.0,5,2,1.756906,3,0,3.695346,2171000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28882,5813,-0.181756,0.0,5,2,1.591160,3,0,3.574774,2163000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28883,5813,-0.181756,0.0,5,2,1.867403,3,0,3.827677,2162000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
28884,5813,-0.181756,0.0,5,2,1.712707,3,0,3.946313,2150000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [40]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['FAMSTRUCT']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['FAMSTRUCT']])
data.drop(columns = ["FAMSTRUCT"], inplace = True)
data

,YY1,AGE,KIDS,OCCAT1,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,...,EDCL_2,EDCL_3,EDCL_4,MARRIED_1,MARRIED_2,FAMSTRUCT_1,FAMSTRUCT_2,FAMSTRUCT_3,FAMSTRUCT_4,FAMSTRUCT_5
0,1,1.312954,0.0,1,-0.104972,2,0,0.929046,6000,25000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1,1.312954,0.0,1,-0.160221,2,0,0.910489,6000,29000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1,1.312954,0.0,1,-0.187845,2,0,0.924779,6000,29000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1,1.312954,0.0,1,-0.243094,2,0,1.126972,6000,28000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1,1.312954,0.0,1,-0.193370,2,0,0.940260,6000,27000,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,0.0,2,1.762431,3,0,3.648903,2159000,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28881,5813,-0.181756,0.0,2,1.756906,3,0,3.695346,2171000,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28882,5813,-0.181756,0.0,2,1.591160,3,0,3.574774,2163000,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28883,5813,-0.181756,0.0,2,1.867403,3,0,3.827677,2162000,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
28884,5813,-0.181756,0.0,2,1.712707,3,0,3.946313,2150000,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [41]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['OCCAT1']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['OCCAT1']])
data.drop(columns = ["OCCAT1"], inplace = True)
data

,YY1,AGE,KIDS,INCOME,WSAVED,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,...,MARRIED_2,FAMSTRUCT_1,FAMSTRUCT_2,FAMSTRUCT_3,FAMSTRUCT_4,FAMSTRUCT_5,OCCAT1_1,OCCAT1_2,OCCAT1_3,OCCAT1_4
0,1,1.312954,0.0,-0.104972,2,0,0.929046,6000,25000,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,1.312954,0.0,-0.160221,2,0,0.910489,6000,29000,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,1.312954,0.0,-0.187845,2,0,0.924779,6000,29000,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,1.312954,0.0,-0.243094,2,0,1.126972,6000,28000,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,1.312954,0.0,-0.193370,2,0,0.940260,6000,27000,0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,0.0,1.762431,3,0,3.648903,2159000,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
28881,5813,-0.181756,0.0,1.756906,3,0,3.695346,2171000,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
28882,5813,-0.181756,0.0,1.591160,3,0,3.574774,2163000,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
28883,5813,-0.181756,0.0,1.867403,3,0,3.827677,2162000,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
28884,5813,-0.181756,0.0,1.712707,3,0,3.946313,2150000,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [42]:
ohe = OneHotEncoder(sparse_output = False) 
ohe.fit(data[['WSAVED']])
ohe.categories_
ohe.get_feature_names_out()
data[ohe.get_feature_names_out()] = ohe.transform(data[['WSAVED']])
data.drop(columns = ["WSAVED"], inplace = True)
data

,YY1,AGE,KIDS,INCOME,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,...,FAMSTRUCT_3,FAMSTRUCT_4,FAMSTRUCT_5,OCCAT1_1,OCCAT1_2,OCCAT1_3,OCCAT1_4,WSAVED_1,WSAVED_2,WSAVED_3
0,1,1.312954,0.0,-0.104972,0,0.929046,6000,25000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1.312954,0.0,-0.160221,0,0.910489,6000,29000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1.312954,0.0,-0.187845,0,0.924779,6000,29000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1.312954,0.0,-0.243094,0,1.126972,6000,28000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1.312954,0.0,-0.193370,0,0.940260,6000,27000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,0.0,1.762431,0,3.648903,2159000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28881,5813,-0.181756,0.0,1.756906,0,3.695346,2171000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28882,5813,-0.181756,0.0,1.591160,0,3.574774,2163000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28883,5813,-0.181756,0.0,1.867403,0,3.827677,2162000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28884,5813,-0.181756,0.0,1.712707,0,3.946313,2150000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [43]:
data

,YY1,AGE,KIDS,INCOME,YESFINRISK,NETWORTH,LIQ,CDS,SAVBND,CASHLI,...,FAMSTRUCT_3,FAMSTRUCT_4,FAMSTRUCT_5,OCCAT1_1,OCCAT1_2,OCCAT1_3,OCCAT1_4,WSAVED_1,WSAVED_2,WSAVED_3
0,1,1.312954,0.0,-0.104972,0,0.929046,6000,25000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,1.312954,0.0,-0.160221,0,0.910489,6000,29000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,1.312954,0.0,-0.187845,0,0.924779,6000,29000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,1.312954,0.0,-0.243094,0,1.126972,6000,28000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,1.312954,0.0,-0.193370,0,0.940260,6000,27000,0,44000,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28880,5813,-0.181756,0.0,1.762431,0,3.648903,2159000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28881,5813,-0.181756,0.0,1.756906,0,3.695346,2171000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28882,5813,-0.181756,0.0,1.591160,0,3.574774,2163000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28883,5813,-0.181756,0.0,1.867403,0,3.827677,2162000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
28884,5813,-0.181756,0.0,1.712707,0,3.946313,2150000,0,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

## (5) Export the preprocessed dataset

In [45]:
data.to_csv("/home/xryrapier/code/xryrpapier/eficient_frontier/raw_data/clean_dataset.csv", index=False)